.container{
    width: 100vw;
    display: flex;
    .subject{
        width: 30%;
        h2{
            height: 20%;
        }
        h2,h3{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .small{
            cursor: zoom-in;
            width: 100%;
            object-fit: contain;
        }
    }
    .magnified{
        width: 70vw;
        height: 100vh;
        overflow: hidden;
        .large{
            display: none;
        }
        .large.show{
            display: block;
        }
    }
}